<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuyemy.dao.YyzxlvcanshuMapper">
  <resultMap id="BaseResultMap" type="com.wuyemy.bean.Yyzxlvcanshu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="lvname" jdbcType="VARCHAR" property="lvname" />
    <result column="fulijin" jdbcType="INTEGER" property="fulijin" />
    <result column="zongnum" jdbcType="INTEGER" property="zongnum" />
    <result column="zhituinum" jdbcType="INTEGER" property="zhituinum" />
    <result column="zhekoubili" jdbcType="DECIMAL" property="zhekoubili" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, lvname, fulijin, zongnum, zhituinum, zhekoubili
  </sql>
  <select id="selectByExample" parameterType="com.wuyemy.bean.YyzxlvcanshuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yyzxlvcanshu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yyzxlvcanshu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yyzxlvcanshu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wuyemy.bean.YyzxlvcanshuExample">
    delete from yyzxlvcanshu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wuyemy.bean.Yyzxlvcanshu">
    insert into yyzxlvcanshu (id, lvname, fulijin, 
      zongnum, zhituinum, zhekoubili
      )
    values (#{id,jdbcType=INTEGER}, #{lvname,jdbcType=VARCHAR}, #{fulijin,jdbcType=INTEGER}, 
      #{zongnum,jdbcType=INTEGER}, #{zhituinum,jdbcType=INTEGER}, #{zhekoubili,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wuyemy.bean.Yyzxlvcanshu">
    insert into yyzxlvcanshu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="lvname != null">
        lvname,
      </if>
      <if test="fulijin != null">
        fulijin,
      </if>
      <if test="zongnum != null">
        zongnum,
      </if>
      <if test="zhituinum != null">
        zhituinum,
      </if>
      <if test="zhekoubili != null">
        zhekoubili,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lvname != null">
        #{lvname,jdbcType=VARCHAR},
      </if>
      <if test="fulijin != null">
        #{fulijin,jdbcType=INTEGER},
      </if>
      <if test="zongnum != null">
        #{zongnum,jdbcType=INTEGER},
      </if>
      <if test="zhituinum != null">
        #{zhituinum,jdbcType=INTEGER},
      </if>
      <if test="zhekoubili != null">
        #{zhekoubili,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wuyemy.bean.YyzxlvcanshuExample" resultType="java.lang.Long">
    select count(*) from yyzxlvcanshu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update yyzxlvcanshu
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.lvname != null">
        lvname = #{record.lvname,jdbcType=VARCHAR},
      </if>
      <if test="record.fulijin != null">
        fulijin = #{record.fulijin,jdbcType=INTEGER},
      </if>
      <if test="record.zongnum != null">
        zongnum = #{record.zongnum,jdbcType=INTEGER},
      </if>
      <if test="record.zhituinum != null">
        zhituinum = #{record.zhituinum,jdbcType=INTEGER},
      </if>
      <if test="record.zhekoubili != null">
        zhekoubili = #{record.zhekoubili,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update yyzxlvcanshu
    set id = #{record.id,jdbcType=INTEGER},
      lvname = #{record.lvname,jdbcType=VARCHAR},
      fulijin = #{record.fulijin,jdbcType=INTEGER},
      zongnum = #{record.zongnum,jdbcType=INTEGER},
      zhituinum = #{record.zhituinum,jdbcType=INTEGER},
      zhekoubili = #{record.zhekoubili,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuyemy.bean.Yyzxlvcanshu">
    update yyzxlvcanshu
    <set>
      <if test="lvname != null">
        lvname = #{lvname,jdbcType=VARCHAR},
      </if>
      <if test="fulijin != null">
        fulijin = #{fulijin,jdbcType=INTEGER},
      </if>
      <if test="zongnum != null">
        zongnum = #{zongnum,jdbcType=INTEGER},
      </if>
      <if test="zhituinum != null">
        zhituinum = #{zhituinum,jdbcType=INTEGER},
      </if>
      <if test="zhekoubili != null">
        zhekoubili = #{zhekoubili,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuyemy.bean.Yyzxlvcanshu">
    update yyzxlvcanshu
    set lvname = #{lvname,jdbcType=VARCHAR},
      fulijin = #{fulijin,jdbcType=INTEGER},
      zongnum = #{zongnum,jdbcType=INTEGER},
      zhituinum = #{zhituinum,jdbcType=INTEGER},
      zhekoubili = #{zhekoubili,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>